{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Create Poll Page {% endblock title %}
{% block content %}
<section>
    <div class="row my-5">
        <div class="col-md-6 offset-md-3">
            <div class="p-5 bg-light">
                <form method="POST" action="create">{% csrf_token %}
                    <b>{{ form_question|crispy }}</b>
                    <input type="submit" value="Add Question" class="btn btn-success my-3"/>
                </form>
                <hr>
                <form method="POST" action="create">{% csrf_token %}
                    <b>{{ form_option|crispy }}</b>
                    <input type="submit" value="Add Option" class="btn btn-success mt-3"/>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}